/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "styles/texts.scss";
@import "styles/buttons.scss";
@import "styles/pricing/pricing-card.scss";
@import "styles/pricing/price-container.scss";

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--color-primary-200);
}
/* Extra small devices (phones, 600px and down) */
.pricing-page {
  margin: 72px 0;
}

.pricing-header-component {
  text-align: center;
  max-width: 240px;
  margin:  32px auto;

  & &__title {
    margin: 8px;
  }
  & &__subtitle {
    color: var(--color-neutral-400);
    margin: 16px 0;
  }
}

.pricing-contener-component {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
  .pricing-page {
    margin: 86px 0;
  }

  .pricing-header-component {
    margin: 32px auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media (min-width: 992px) {

  .pricing-page {
    margin: 120px 0 0 0;
  }

  .pricing-header-component {
    margin: 47px auto;
    flex-wrap: nowrap;
  }

  .pricing-contener-component {
    flex-wrap: nowrap;
  }
}